.maintitle{
    font-size: 64px;
    margin: 0;
}
.img{
    height: 250px;
}
.author{
    font-size: 16px; ;
}

.banner {
	height: 800px;
	background-color: rgb(40, 152, 196);
	color: white;
	background-image: url('../img/pattern.png');
	background-size: contain;
	background-position: fill;
	background-repeat: repeat;
    height: 10rem;
}
.logo{
    width: 250px;
    padding-top: 45px ;

}

table {
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #7cc4c9}
  
  th {
    background-color: #2b8eb6;
    color: white;
  }

  h2{
    color: lightsalmon;
  }

